<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/14ba7799-904d-4160-a08c-1b827934a800/resourcegroups/OrderStatusHubApi20251209165848ResourceGroup/providers/Microsoft.Web/sites/OrderStatusHubApi20251209165848</ResourceId>
    <ResourceGroup>OrderStatusHubApi20251209165848ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://orderstatushubapi20251209165848-bxhqb9hwhyd5e9h0.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>11111111-1111-1111-1111-111111111111</ProjectGuid>
    <PublishUrl>https://orderstatushubapi20251209165848-bxhqb9hwhyd5e9h0.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>